
{{ 'davi-style.css' | asset_url | stylesheet_tag }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer=""></script>
<script src="{{ 'davi-script.js' | asset_url }}" defer="defer"></script>
<div class="loader" style="text-align:center"><img src="https://adpts.solcoder.com/public/images/loading.gif" width="200" height="200"></div>
  <div class="container davi-customize">
  <div id="form" style="display:none; padding : 20px;">
    <h2>{{ section.settings.section_title }}</h2>
    <form id="contactForm" enctype="multipart/form-data">
    <div class="tab step1" >
      {% for block in section.blocks %}    
        {% if block.settings.davi_field_show == 'step1' %}
          <label>{{ block.settings.davi_field_label }}</label><br/>
        {% endif %}
        {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "text" %}
          <input type="text" class="davi-theme" name="davi_input_text" >
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "email" %}
          <input type="email" class="davi-theme" name="davi_input_email" >
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "pdf" %}
          <input type="file" class="davi-theme" name="davi_input_pdf" accept="application/pdf" >
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "file" %}
          <input type="file" class="davi-theme" name="davi_input_file" >
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "multiplefile" %}
          <input type="file" class="davi-theme" name="davi_input_files[]" multiple  >
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "date" %}
          <input type="text" class="davi-theme date" name="davi_input_date" class="date" >
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "dropdown" %}
          {% assign dropdown =  block.settings.davi_field_value | split: "," %}
          <select name="davi_dropdown" class="form-control select2 davi-theme">
            {% for option in dropdown %}
              <option>{{ option }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "multipledropdown" %}
          {% assign dropdown =  block.settings.davi_field_value | split: "," %}
          <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" multiple>
            {% for option in dropdown %}
              <option>{{ option }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "products" %}
          <select name="davi_products" class="form-control select2 davi-theme" multiple>
            {% for product in collections['all'].products %}
                <option title="{{ product.sku }}">{{ product.title }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" %}
          <input type="text" class="davi-theme" name="davi_input_address" placeholder="address" ><br>
          <input type="text" class="davi-theme" name="davi_input_appartment_no" placeholder="appartment_no" > <input type="text" class="davi-theme" name="davi_input_zip_code" placeholder="zip_code" > <input type="text" class="davi-theme" name="davi_input_state" placeholder="state" >
        {% endif %}
      {% endfor %}
    </div>
    <div class="tab step2" >
      {% for block in section.blocks %}   
        {% if block.settings.davi_field_show == 'step2' %}
          <label>{{ block.settings.davi_field_label }}</label><br/>
        {% endif %}
        {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "text" %}
          <input type="text" class="davi-theme" name="davi_input_text" >
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "email" %}
          <input type="email" class="davi-theme" name="davi_input_email" >
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "pdf" %}
          <input type="file" class="davi-theme" name="davi_input_pdf" accept="application/pdf" >
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "file" %}
          <input type="file" class="davi-theme" name="davi_input_file" >
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "multiplefile" %}
          <input type="file" class="davi-theme" name="davi_input_files" multiple  >
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "date" %}
          <input type="text" class="davi-theme date" name="davi_input_date" class="date" >
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "dropdown" %}
          {% assign dropdown =  block.settings.davi_field_value | split: "," %}
          <select name="davi_dropdown" class="form-control select2 davi-theme">
            {% for option in dropdown %}
              <option>{{ option }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "multipledropdown" %}
          {% assign dropdown =  block.settings.davi_field_value | split: "," %}
          <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" multiple>
            {% for option in dropdown %}
              <option>{{ option }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "products" %}
          <select name="davi_products" class="form-control select2 davi-theme" multiple>
            {% for product in collections['all'].products %}
                <option title="{{ product.sku }}">{{ product.title }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" %}
          <input type="text" class="davi-theme" name="davi_input_address" placeholder="address" ><br>
          <input type="text" class="davi-theme" name="davi_input_appartment_no" placeholder="appartment_no" > <input type="text" class="davi-theme" name="davi_input_zip_code" placeholder="zip_code" > <input type="text" class="davi-theme" name="davi_input_state" placeholder="state" >
        {% endif %}
      {% endfor %}
    </div>
    <div class="tab step3" >
      {% for block in section.blocks %}   
        {% if block.settings.davi_field_show == 'step3' %}
          <label>{{ block.settings.davi_field_label }}</label><br/>
        {% endif %}
        {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "text" %}
          <input type="text" class="davi-theme" name="davi_input_text" >
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "email" %}
          <input type="email" class="davi-theme" name="davi_input_email" >
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "pdf" %}
          <input type="file" class="davi-theme" name="davi_input_pdf" accept="application/pdf" >
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "file" %}
          <input type="file" class="davi-theme" name="davi_input_file" >
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "multiplefile" %}
          <input type="file" class="davi-theme" name="davi_input_files[]" multiple  >
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "date" %}
          <input type="text" class="davi-theme date" name="davi_input_date" class="date" >
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "dropdown" %}
          {% assign dropdown =  block.settings.davi_field_value | split: "," %}
          <select name="davi_dropdown" class="form-control select2 davi-theme">
            {% for option in dropdown %}
              <option>{{ option }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "multipledropdown" %}
          {% assign dropdown =  block.settings.davi_field_value | split: "," %}
          <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" multiple>
            {% for option in dropdown %}
              <option>{{ option }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "products" %}
          <select name="davi_products" class="form-control select2 davi-theme" multiple>
            {% for product in collections['all'].products %}
                <option title="{{ product.sku }}">{{ product.title }}</option>
            {% endfor %}
          </select><br>
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" %}
          <input type="text" class="davi-theme" name="davi_input_address" placeholder="address" ><br>
          <input type="text" class="davi-theme" name="davi_input_appartment_no" placeholder="appartment_no" > <input type="text" class="davi-theme" name="davi_input_zip_code" placeholder="zip_code" > <input type="text" class="davi-theme" name="davi_input_state" placeholder="state" >
        {% endif %}
      {% endfor %}
    </div>
    <input type="hidden" id="shop" value="{{ shop.domain }}" />

  {% if section.settings.section_title %}
    <input type="hidden" name="davi_form_type" value="{{ section.settings.section_title }}" />
  {% else %}
    <input type="hidden" name="davi_form_type" value="Multistep Form" />
  {% endif %}
  <div style="overflow:auto; margin-top:20px;">
    <div style="float:right;">
      <button type="button" class="davi-theme" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" class="davi-theme" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  </form>
  </div>
  </div>
{% schema %}
  {
  "name": "Davi Multistep Form",
	"class": "container mx-auto",
	"tag": "section",
	"settings": [{
		"id": "section_title",
    "type": "text",
    "label": "Section Header",
		"default": "Multistep Form"
	},
  {
      "id": "step1_title",
      "type": "text",
      "label": "Step 1 Title",
      "default": "Step 1 Title"
  },
  {
      "id": "step1_name",
      "type": "text",
      "label": "Step 1 Name",
      "default": "Step 1 Name"
  },
  {
      "id": "step2_title",
      "type": "text",
      "label": "Step 2 Title",
      "default": "Step 2 Title"
  },
  {
      "id": "step2_name",
      "type": "text",
      "label": "Step 2 Name",
      "default": "Step 2 Name"
  },
  {
      "id": "step3_title",
      "type": "text",
      "label": "Step 3 Title",
      "default": "Step 3 Title"
  },
  {
      "id": "step3_name",
      "type": "text",
      "label": "Step 3 Name",
      "default": "Step 3 Name"
  }
],
  "blocks": [
    {
      "type": "davi_field",
      "name": "Davi Field",
      "settings": [
        {
          "id": "davi_field_label",
          "type": "text",
          "label": "Field Label"
        },
        {
          "type": "select",
          "id": "davi_field_show",
          "label": "Field Show on",
          "options": [
            {
              "value": "step1",
              "label": "Step 1"
            },
            {
              "value": "step2",
              "label": "Step 2"
            },
            {
              "value": "step3",
              "label": "Step 3"
            }
          ],
          "default": "step1"
        },        
        {
          "type": "select",
          "id": "davi_field_type",
          "label": "Field Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "email",
              "label": "Email"
            },
            {
              "value": "date",
              "label": "Datepicker"
            },
            {
              "value": "products",
              "label": "Products"
            },
            {
              "value": "pdf",
              "label": "PDF"
            },
            {
              "value": "file",
              "label": "File"
            },
            {
              "value": "multiplefile",
              "label": "Multiple Files"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "multipledropdown",
              "label": "Multiple Dropdown"
            },
            {
              "value": "address",
              "label": "Address"
            }
          ],
          "default": "text"
        },
        
        {
          "id": "davi_field_value",
          "type": "text",
          "label": "Field Value (for comma seprated)"
        }
        
      ]
    }
    ],
	"presets": [
      {
        "name": "Davi Multi Step Form",
        "category": "Forms"
      }
    ]
    
  }
{% endschema %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"  />
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js" defer></script>
<!-- Javascript -->
<script>

  setTimeout(function(){
     jQuery(function() {
      
        jQuery('.loader').hide();
        jQuery( "#form" ).show();
        jQuery( ".date" ).datepicker();
        jQuery( ".select2" ).select2();
     });
     $('input').keyup(function() {
      if($(this).hasClass('invalid')){
        $(this).removeClass('invalid');
      }
     });
    {% comment %} jQuery("#submit_btn").click(function(){
      var values;
      jQuery( "input[name=davi_input_text]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "input[name=davi_input_pdf]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "input[name=davi_input_file]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "input[name=davi_input_files]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "input[name=davi_input_date]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "select[name=davi_products]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "select[name=davi_dropdown]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "select[name=davi_multiple_dropdown]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "input[name=davi_input_address]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "input[name=davi_input_appartment_no]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "input[name=davi_input_zip_code]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
      jQuery( "input[name=davi_input_state]" ).each(function( index ) {
        
          var parentElem = $(this).siblings(),
              parentTagName = parentElem.get(0).tagName.toLowerCase();
          
          if(parentTagName == "label") {
              label = parentElem;
          }
        values += label+': '+$( this ).val() ;
      });
    }); {% endcomment %}
    }, 2000);
  
</script>
</div>