<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
{{ 'davi-style.css' | asset_url | stylesheet_tag }}
<style>
  .davi-customize {
    font-family: 'Inter', sans-serif;
  }
  
  .davi-customize * {
    font-family: 'Inter', sans-serif;
  }
  
  .custom-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }
  
  .custom-flex-item {
    width: 50%;
  }
  
  .custom-form-group {
    margin-bottom: 15px;
    padding: 0 20px;
  }
  
  .custom-address {
    margin-bottom: 15px;
  }
  
  .custom-address:last-child {
    margin-bottom: 0;
  }
  
  .custom-form-label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  
  .custom-form-group input {
    border: 1px solid rgba(34, 34, 34, 0.3);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
  }
  
  .custom-steps-wrapper {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  
  .custom-steps-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.3);
    position: relative;
    background: white;
    transition: all 0.3s;
  }
  
  .custom-steps-circle span {
    position: absolute;
    top: -40px;
    line-height: normal;
    font-weight: 500;
    left: 50%;
    font-size: 16px;
    white-space: nowrap;
    transform: translateX(-50%);
  }
  
  .custom-steps-line {
    flex-grow: 1;
    height: 6px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .custom-steps-line span {
    position: absolute;
    lef: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #0097B2;
    transition: all 0.3s;
  }
  
  .custom-steps-wrapper[data-step="1"] .s1c {
    border-color: #0097B2;
  }
  
  .custom-steps-wrapper[data-step="2"] .s1c {
    border-color: #0097B2;
    background: #0097B2;
  }
  
  .custom-steps-wrapper[data-step="2"] .s1l span {
    width: 100%;
  }
  
  .custom-steps-wrapper[data-step="2"] .s2c {
    border-color: #0097B2;
  }
  
  .custom-steps-wrapper[data-step="3"] .custom-steps-circle {
    border-color: #0097B2;
    background: #0097B2;
  }
  
  .custom-steps-wrapper[data-step="3"] .custom-steps-line span {
    width: 100%;
  }
  
  .custom-form-file-label {
    border: 1px solid rgba(34, 34, 34, 0.3);
    border-radius: 5px;
    padding: 30px 40px;
    margin-bottom: 30px;
  }
  
  .custom-form-file {
    background: rgba(0, 151, 178, 0.1);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-form-file-label h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .custom-form-file img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  .custom-form-file p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
    max-width: 250px;
    margin: 0 auto;
    line-height: initial;
  }
  
  .custom-form-file p strong {
    color: #0097B2;
    font-weight: 600;
  }
  
  .custom-form-file input {
    display: none;
  }
  
  .custom-form-file-output {}
  
  .custom-form-file-output-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid rgba(34, 34, 34, 0.3);
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 30px;
  }
  
  .custom--file {}
  
  .custom-form-file-output-img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #0097B2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-form-file-output-img img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .custom--image {
    padding: 8px;
  }
  
  .custom-form-file-output-name {
    width: calc(100% - 62px);
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .custom-multiple-dropdown {
    position: relative;
  }
  
  .custom-multiple-dropdown-main {
    width: 100%;
    padding: 10px;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(34, 34, 34, 0.3);
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    text-align: left;
    font-size: 16px;
    background: none;
    position: relative;
    padding-right: 45px;
  }
  
  .custom-multiple-dropdown-main::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    width: 25px;
    height: 25px;
    pointer-events: none;
    background-image: url('{{ ' arrdown.svg' | asset_url }}');
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateY(-50%);
  }
  
  .custom-multiple-dropdown-main.custom-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
  }
  
  .custom-multiple-dropdown-main.custom-open+.custom-multiple-dropdown-list {
    display: block;
  }
  
  .custom-multiple-dropdown-main img {
    pointer-events: none;
    height: 38px;
    width: 38px;
    object-fit: cover;
  }
  
  .custom-multiple-dropdown-main span {
    pointer-events: none;
    width: calc(100% - 38px);
    padding-left: 10px;
  }
  
  .custom-multiple-dropdown-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(34, 34, 34, 0.3);
    padding: 15px;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -1px;
    max-height: 325px;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
    background: white;
  }
  
  .custom-multiple-dropdown-list li {
    width: 100%;
    padding: 10px;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(34, 34, 34, 0.3);
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .custom-multiple-dropdown-list li:last-child {
    margin-bottom: 0;
  }
  
  .custom-multiple-dropdown-list img {
    pointer-events: none;
    height: 38px;
    width: 38px;
    object-fit: cover;
  }
  
  .custom-multiple-dropdown-list span {
    pointer-events: none;
    width: calc(100% - 38px);
    padding-left: 10px;
  }
  
  
  .custom-multiple-2-dropdown {
    position: relative;
  }
  
  .custom-multiple-2-dropdown-main {
    width: 100%;
    padding: 10px;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(34, 34, 34, 0.3);
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    text-align: left;
    font-size: 16px;
    background: none;
    position: relative;
    padding-right: 45px;
  }
  
  .custom-multiple-2-dropdown-main::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    width: 25px;
    height: 25px;
    pointer-events: none;
    background-image: url('{{ ' arrdown.svg' | asset_url }}');
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateY(-50%);
  }
  
  .custom-multiple-2-dropdown-main.custom-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
  }
  
  .custom-multiple-2-dropdown-main.custom-open+.custom-multiple-2-dropdown-list {
    display: block;
  }
  
  .custom-multiple-2-badge {
    display: flex;
    background: rgba(34, 34, 34, 0.1);
    border-radius: 5px;
    font-size: 12px;
    align-items: center;
    padding: 5px;
    flex: 0 0 85px;
    margin-right: 10px;
  }
  
  .custom-multiple-2-badge img {
    pointer-events: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  
  .custom-multiple-2-badge span {
    pointer-events: none;
    width: calc(100% - 24px);
    padding-left: 5px;
    font-size: 12px;
    color: #222222;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  
  .custom-multiple-2-cross {
    font-style: normal;
    color: #222222;
  }
  
  .custom-multiple-2-dropdown-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(34, 34, 34, 0.3);
    padding: 15px;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -1px;
    max-height: 325px;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
    background: white;
  }
  
  .custom-multiple-2-dropdown-list::-webkit-scrollbar {
    width: 3px;
  }
  
  .custom-multiple-2-dropdown-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-multiple-2-dropdown-list::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .custom-multiple-2-dropdown-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .custom-multiple-dropdown-list::-webkit-scrollbar {
    width: 3px;
  }
  
  .custom-multiple-dropdown-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-multiple-dropdown-list::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .custom-multiple-dropdown-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .custom-multiple-2-dropdown-list li {
    width: 100%;
    padding: 10px;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(34, 34, 34, 0.3);
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .custom-multiple-2-dropdown-list li:last-child {
    margin-bottom: 0;
  }
  
  .custom-multiple-2-dropdown-list img {
    pointer-events: none;
    height: 38px;
    width: 38px;
    object-fit: cover;
  }
  
  .custom-multiple-2-dropdown-list span {
    pointer-events: none;
    width: calc(100% - 38px);
    padding-left: 10px;
  }
  
  .custom-hide {
    display: none !important;
  }
  
  .custom-multiple-2-badge-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
  }
  
  .custom-multiple-2-badge-wrapper::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  .custom-multiple-2-badge-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-multiple-2-badge-wrapper::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .custom-multiple-2-badge-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .custom-step-title {
    margin: 0;
    padding: 0 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .phone-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .custom-phone-button {
    width: 150px;
    justify-content: space-between;
    padding-right: 10px;
  }
  
  .custom-phone-button::after {
    display: none;
  }
  
  .custom-phone-button em {
    font-style: normal;
    font-size: 28px;
  }
  
  .custom-phone-inp {
    width: calc(100% - 165px) !important;
  }
  
  .custom-phone-list {
    width: 150px;
  }
  
  .custom-phone-list li {
    justify-content: space-between;
  }
  
  .custom-phone-list li em {
    font-style: normal;
    font-size: 24px;
    pointer-events: none;
  }
  
  {% comment %} [name="davi_input_phone"] {
    display: none;
  } {% endcomment %}
  
  @media screen and (max-width: 1200px) {
    #contactForm {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .custom-flex-item {
      width: 100%;
    }
  
    .custom-form-file-label {
      padding: 20px;
      margin-bottom: 15px;
    }
  
    #contactForm {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .custom-steps-circle span {
      font-size: 12px;
      min-width: 70px;
      top: -45px;
    }
  
    .custom-steps-circle {
      width: 35px;
      height: 35px;
      border: 3px solid rgba(0, 0, 0, 0.3);
    }
  
    .custom-steps-line {
      height: 3px;
    }
  }
</style>
<script>
  setTimeout(function() {
    document.querySelectorAll(".custom-form-file input").forEach(function(item) {
        item.addEventListener("change", function(input) {
            if (item.hasAttribute("multiple")) {
                let outputDiv = this.closest(".custom-form-group").querySelector(".custom-form-file-output");
                let data = ``;
                for (file of this.files) {
                    let fileName = file.name;
                    let image = file.type.indexOf("image") != -1 ? URL.createObjectURL(file) : "{{ 'file.svg' | asset_url }}";
                    let imageClass = file.type.indexOf("image") != -1 ? "custom--image" : "custom--file";
                    data += `<div class="custom-form-file-output-wrapper"><div class="custom-form-file-output-img ${imageClass}"><img src="${image}" /></div><div class="custom-form-file-output-name">${fileName}</div></div>`;
                }
                outputDiv.innerHTML = data;
            } else {
                let fileName = this.files[0].name;
                let image = this.files[0].type.indexOf("image") != -1 ? URL.createObjectURL(this.files[0]) : "{{ 'file.svg' | asset_url }}";
                let imageClass = this.files[0].type.indexOf("image") != -1 ? "custom--image" : "custom--file";
                let outputDiv = this.closest(".custom-form-group").querySelector(".custom-form-file-output");
                outputDiv.innerHTML = `<div class="custom-form-file-output-wrapper"><div class="custom-form-file-output-img ${imageClass}"><img src="${image}" /></div><div class="custom-form-file-output-name">${fileName}</div></div>`;
            }

        });
    });
    document.addEventListener("click", function(e) {
        if (!$(e.target).closest('.custom-multiple-dropdown').length) {
            document.querySelectorAll(".custom-multiple-dropdown-main").forEach(function(item) {
                item.classList.remove("custom-open");
            });
        }
    });
    document.addEventListener("click", function(e) {
        if (!$(e.target).closest('.custom-multiple-2-dropdown').length) {
            document.querySelectorAll(".custom-multiple-2-dropdown-main").forEach(function(item) {
                item.classList.remove("custom-open");
            });
        }
    });
    document.querySelectorAll(".custom-multiple-dropdown-main").forEach(function(item) {
        item.addEventListener("click", function(e) {
            e.currentTarget.classList.toggle("custom-open");
        });
    });
    document.querySelectorAll(".custom-multiple-dropdown-list li").forEach(function(item) {
        item.addEventListener("click", function(e) {
            let img = e.currentTarget.querySelector("img").getAttribute("src");
            let text = e.currentTarget.querySelector("span").innerText;
            let main = e.currentTarget.closest(".custom-multiple-dropdown").querySelector(".custom-multiple-dropdown-main");
            main.querySelector("img").setAttribute("src", img);
            main.querySelector("span").innerText = text;
            main.classList.remove("custom-open");
            e.currentTarget.closest(".custom-multiple-dropdown").querySelectorAll(".custom-single-select option").forEach(function(opt) {
                if (opt.innerText.toLowerCase().trim() == text.toLowerCase().trim()) {
                    opt.selected = true;
                }
            })
        });
    });
    document.querySelectorAll(".custom-multiple-2-dropdown-main").forEach(function(item) {
        item.addEventListener("click", function(e) {
            e.currentTarget.classList.toggle("custom-open");
        });
    });
    document.querySelectorAll(".custom-multiple-2-dropdown-list li").forEach(function(item) {
        item.addEventListener("click", function(e) {
            let img = e.currentTarget.querySelector("img").getAttribute("src");
            let text = e.currentTarget.querySelector("span").innerText;
            let main2 = e.currentTarget.closest(".custom-multiple-2-dropdown").querySelector(".custom-multiple-2-dropdown-main");
            main2.classList.remove("custom-open");
            e.currentTarget.closest(".custom-multiple-2-dropdown").querySelectorAll(".custom-multiple-select option").forEach(function(opt) {
                if (opt.innerText.toLowerCase().trim() == text.toLowerCase().trim()) {
                    opt.selected = true;
                    e.currentTarget.classList.add("custom-hide");
                }
            })
            let main = e.currentTarget.closest(".custom-multiple-2-dropdown").querySelector(".custom-multiple-2-badge-wrapper");
            let data = ``;
            e.currentTarget.closest(".custom-multiple-2-dropdown").querySelectorAll(".custom-multiple-select option").forEach(function(opt) {
                if (opt.selected) {
                    data += `<div class="custom-multiple-2-badge"><img src="${opt.dataset.img}" /> <span>${opt.innerText}</span> <em class="custom-multiple-2-cross">&#10005;</em></div>`;
                }
            })
            main.innerHTML = data;
        });
    });
    $(document).on("click", ".custom-multiple-2-cross", function(e) {
        e.stopPropagation();
        let text = e.currentTarget.previousElementSibling.innerText;
        let li = e.currentTarget.closest(".custom-multiple-2-dropdown").querySelectorAll(".custom-multiple-2-dropdown-list li");
        e.currentTarget.closest(".custom-multiple-2-dropdown").querySelectorAll(".custom-multiple-select option").forEach(function(opt) {
            if (opt.innerText.toLowerCase().trim() == text.toLowerCase().trim()) {
                opt.selected = false;
                e.currentTarget.closest(".custom-multiple-2-badge").remove();
            }
        })

        li.forEach(function(list) {
            if (list.querySelector("span").innerText.toLowerCase().trim() == text.toLowerCase().trim()) {
                list.classList.remove("custom-hide");
            }
        });
    });

    document.querySelectorAll(".custom-phone-list").forEach(function(item) {
        item.addEventListener("click", function(e) {
            if (e.target.tagName == 'LI') {
                let btn = e.currentTarget.closest(".custom-multiple-dropdown").querySelector(".custom-phone-button");
                let inp = e.currentTarget.closest(".custom-form-group").querySelector('[name="davi_input_phone"]');
                let inpV = e.currentTarget.closest(".custom-form-group").querySelector(".custom-phone-inp");
                inp.value = e.target.dataset.code + ' ' + inpV.value;
                btn.innerHTML = `${e.target.dataset.code} <em>${e.target.dataset.flag}</em>`;
                btn.setAttribute("data-code", e.target.dataset.code);
                btn.classList.remove("custom-open");
            }
        })
    })

    document.querySelectorAll(".custom-phone-inp").forEach(function(item) {
        item.addEventListener("input", function(e) {
            let inp = e.target.closest(".custom-form-group").querySelector('[name="davi_input_phone"]');
            let btn = e.target.closest(".custom-form-group").querySelector('.custom-phone-button');
            inp.value = btn.dataset.code + ' ' + this.value;
        })
    })

    fetch('https://gist.githubusercontent.com/DmytroLisitsyn/1c31186e5b66f1d6c52da6b5c70b12ad/raw/2bc71083a77106afec2ec37cf49d05ee54be1a22/country_dial_info.json')
        .then(response => response.json())
        .then(res => {
            if (res.length > 0) {
                const element2 = document.querySelectorAll(".custom-phone-list");
                const button = document.querySelectorAll(".custom-phone-button");

                const fragment2 = document.createDocumentFragment();

                res.sort((a, b) => {
                    return a.dial_code - b.dial_code;
                });

                button.forEach((item) => {
                    item.innerHTML = `${res[0].dial_code} <em>${res[0].flag}</em>`;
                    item.setAttribute("data-code", res[0].dial_code)
                    item.setAttribute("data-flag", res[0].flag)
                })

                res.forEach((item) => {

                    const li = document.createElement("li");
                    li.innerHTML = `${item.dial_code} <em>${item.flag}</em>`;
                    li.setAttribute("data-code", item.dial_code);
                    li.setAttribute("data-flag", item.flag);
                    fragment2.appendChild(li);

                });
                element2.forEach((item) => {
                    item.appendChild(fragment2);
                })
            }
        });
}, 3000);
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer=""></script>
<script src="{{ 'davi-script.js' | asset_url }}" defer="defer"></script>
{% if settings.show_customizer %}
  Customizer is open
{% else %}
  Customizer is closed
{% endif %}

<div class="loader" style="text-align:center"><img src="https://adpts.solcoder.com/public/images/loading.gif" width="200" height="200"></div>
  <div class="container davi-customize">
  <div id="form" style="display:none; padding : 20px;">
    <h2>{{ section.settings.section_title }}</h2>
    <form id="contactForm" enctype="multipart/form-data">
      <ul class="custom-steps-wrapper" data-step="1">
        <li class="custom-steps-circle s1c"><span>{{ section.settings.step1_name }}</span></li>
        <li class="custom-steps-line s1l"><span></span></li>
        <li class="custom-steps-circle s2c"><span>{{ section.settings.step2_name }}</span></li>
        <li class="custom-steps-line s2l"><span></span></li>
        <li class="custom-steps-circle s3c"><span>{{ section.settings.step3_name }}</span></li>
      </ul>
    <div class="tab step1" >
      <h3 class="custom-step-title">{{ section.settings.step1_title }}</h3>
      <div class="custom-flex-wrapper">
        <div class="custom-flex-item">
      {% for block in section.blocks %}    
    {% if block.settings.davi_field_show == 'step1' %}
    {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" or block.settings.davi_field_type == "hidden" %}
    <div class="custom-form-group">
    <label class="custom-form-label">{{ block.settings.davi_field_label }}</label>
    {% endunless %}
    {% endif %}

  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "phone" %}
            {% comment %} <input type="text" class="davi-theme" name="davi_input_phone"> {% endcomment %}

            <div class="custom-multiple-dropdown">
              <div class="phone-flex-wrapper">
                <button type="button" class="custom-multiple-dropdown-main custom-phone-button"></button>
                <ul class="custom-multiple-dropdown-list custom-phone-list"></ul>
                <input type="number" class="custom-phone-inp davi-theme" name="davi_input_phone"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_required == true %}  required {% endif %}/>
              </div>
            </div>
          
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "hidden" %}
            <input type="hidden" class="davi-theme" name="davi_input_text"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_required == true %}  required {% endif %} {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_value != '' %}  value="{{ block.settings.davi_field_value }}" {% endif %}>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "text" %}
            <input type="text" class="davi-theme" name="davi_input_text" {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_required == true %}  required {% endif %}>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "email" %}
          <input type="email" class="davi-theme" name="davi_input_email"  {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "email"  and block.settings.davi_field_required == true %}  required {% endif %}>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "date" %}
          <input type="text" class="davi-theme date" name="davi_input_date" class="date" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "date" and block.settings.davi_field_required == true %}  required {% endif %}>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "dropdown" %}
        {% assign dropdown =  block.settings.davi_field_value | split: "," %}
        <select name="davi_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "dropdown" and block.settings.davi_field_required == true %}  required {% endif %}>
            {% for option in dropdown %}
              <option>{{ option }}</option>
            {% endfor %}
          </select>
          {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "multipledropdown" %}
            {% assign dropdown =  block.settings.davi_field_value | split: "," %}
            <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "multipledropdown"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
              {% for option in dropdown %}
                <option>{{ option }}</option>
              {% endfor %}
            </select>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "dropdown_file" %}
        {% assign dropdown =  block.settings.davi_field_value | split: "," %}
            {% assign imgs = block.settings.davi_field_image | split: ',' %}
            <div class="custom-multiple-dropdown">
                <select name="davi_dropdown" class="custom-single-select davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "dropdown_file" and block.settings.davi_field_required == true %}  required {% endif %}>
            {% for option in dropdown %}
              <option>{{ option }}</option>
            {% endfor %}
          </select>
              <button type="button" class="custom-multiple-dropdown-main"><img src="{{ imgs[0] }}" /> <span>{{ dropdown[0] }}</span></button>
              <ul class="custom-multiple-dropdown-list">
                {% for option in dropdown %}
                  <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                {% endfor %}
              </ul>
            </div>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "multipledropdown_file" %}

           {% assign imgs = block.settings.davi_field_image | split: ',' %}
            <div class="custom-multiple-2-dropdown">
           <select name="davi_multiple_dropdown" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "multipledropdown_file"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
            {% for option in dropdown %}
              <option value="{{ option }}" data-img="{{ imgs[forloop.index0] }}">{{ option }}</option>
            {% endfor %}
          </select>
              <button type="button" class="custom-multiple-2-dropdown-main">
                <div class="custom-multiple-2-badge-wrapper">
        
                </div>
                </button>
              <ul class="custom-multiple-2-dropdown-list">
                {% for option in dropdown %}
                  <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                {% endfor %}
              </ul>
            </div>
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "products" %}
          {% comment %} <select name="davi_products" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "products" and block.settings.davi_field_required == true %}  required {% endif %} multiple>
            {% for product in collections['all'].products %}
                <option title="{{ product.sku }}">{{ product.title }}</option>
            {% endfor %}
          </select> {% endcomment %}

           {% assign imgs = block.settings.davi_field_image | split: ',' %}
            <div class="custom-multiple-2-dropdown">
           <select name="davi_products" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "products"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
            {% for product in collections['all'].products %}
              <option value="{{ product.title | escape }}" data-img="{{ product | img_url: '100x' }}">{{ product.title | escape }}</option>
            {% endfor %}
          </select>
              <button type="button" class="custom-multiple-2-dropdown-main">
                <div class="custom-multiple-2-badge-wrapper">
                
                </div>
                </button>
              <ul class="custom-multiple-2-dropdown-list">
                {% for product in collections['all'].products %}
                  <li><img src="{{ product | img_url: '100x' }}" /> <span>{{ product.title | escape }}</span></li>
                {% endfor %}
              </ul>
            </div>

  
        {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" %}
          <input type="text" class="davi-theme custom-address" name="davi_input_address" placeholder="address"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}><br>
          <input type="text" class="davi-theme custom-address" name="davi_input_appartment_no" placeholder="appartment_no"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}> <input type="text" {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} class="davi-theme custom-address" name="davi_input_zip_code" placeholder="zip_code" > <input type="text" class="davi-theme custom-address" {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} name="davi_input_state" placeholder="state"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_required == true %}  required {% endif %}>
        {% endif %}
    {% if block.settings.davi_field_show == 'step1' %}
    {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
    </div>
    {% endunless %}
    {% endif %}
      {% endfor %}
        </div>
        <div class="custom-flex-item">
          {% for block in section.blocks %}    
        {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "pdf" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label" for="{{ block.id }}">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
              <input type="file" id="{{ block.id }}" class="davi-theme" name="davi_input_pdf" accept="application/pdf"  {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "pdf" and block.settings.davi_field_required == true %}  required {% endif %}>
            </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "file" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
          <input type="file" class="davi-theme" name="davi_input_file"  {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "file" and block.settings.davi_field_required == true %}  required {% endif %}>
          </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "multiplefile" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
          <input type="file" class="davi-theme" name="davi_input_files[]" multiple   {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "multiplefile" and block.settings.davi_field_required == true %}  required {% endif %}>
          </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% endif %}
      {% endfor %}
        </div>
      </div>
    </div>

    <div class="tab step2" >
      <h3 class="custom-step-title">{{ section.settings.step2_title }}</h3>
    <div class="custom-flex-wrapper">
    <div class="custom-flex-item">
          {% for block in section.blocks %}    
            {% if block.settings.davi_field_show == 'step2' %}
            {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
            <div class="custom-form-group">
            <label class="custom-form-label">{{ block.settings.davi_field_label }}</label>
            {% endunless %}
            {% endif %}

              {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "phone" %}
                <input type="text" class="davi-theme" name="davi_input_phone" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_required == true %}  required {% endif %}>

                <div class="custom-multiple-dropdown">
                  <div class="phone-flex-wrapper">
                    <button type="button" class="custom-multiple-dropdown-main custom-phone-button"></button>
                    <ul class="custom-multiple-dropdown-list custom-phone-list"></ul>
                    <input type="number" class="custom-phone-inp davi-theme" />
                  </div>
                </div>

            {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "hidden" %}
                <input type="hidden" class="davi-theme" name="davi_input_text"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_required == true %}  required {% endif %} {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_value != '' %}  value="{{ block.settings.davi_field_value }}" {% endif %}>                
            {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "text" %}
                <input type="text" class="davi-theme" name="davi_input_text" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_required == true %}  required {% endif %}>
            {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "email" %}
              <input type="email" class="davi-theme" name="davi_input_email"  {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "email"  and block.settings.davi_field_required == true %}  required {% endif %}>
            {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "date" %}
              <input type="text" class="davi-theme date" name="davi_input_date" class="date" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "date" and block.settings.davi_field_required == true %}  required {% endif %}>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "dropdown" %}
              {% assign dropdown =  block.settings.davi_field_value | split: "," %}
              <select name="davi_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "dropdown" and block.settings.davi_field_required == true %}  required {% endif %}>
                  {% for option in dropdown %}
                    <option>{{ option }}</option>
                  {% endfor %}
                </select>
                {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "multipledropdown" %}
                  {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                  <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "multipledropdown"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                    {% for option in dropdown %}
                      <option>{{ option }}</option>
                    {% endfor %}
                  </select>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "dropdown_file" %}
              {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                  {% assign imgs = block.settings.davi_field_image | split: ',' %}
                  <div class="custom-multiple-dropdown">
                      <select name="davi_dropdown" class="custom-single-select davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "dropdown_file" and block.settings.davi_field_required == true %}  required {% endif %}>
                  {% for option in dropdown %}
                    <option>{{ option }}</option>
                  {% endfor %}
                </select>
                    <button type="button" class="custom-multiple-dropdown-main"><img src="{{ imgs[0] }}" /> <span>{{ dropdown[0] }}</span></button>
                    <ul class="custom-multiple-dropdown-list">
                      {% for option in dropdown %}
                        <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                      {% endfor %}
                    </ul>
                  </div>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "multipledropdown_file" %}
      
                {% assign imgs = block.settings.davi_field_image | split: ',' %}
                  <div class="custom-multiple-2-dropdown">
                <select name="davi_multiple_dropdown" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "multipledropdown_file"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                  {% for option in dropdown %}
                    <option value="{{ option }}" data-img="{{ imgs[forloop.index0] }}">{{ option }}</option>
                  {% endfor %}
                </select>
                    <button type="button" class="custom-multiple-2-dropdown-main">
                      <div class="custom-multiple-2-badge-wrapper">
              
                      </div>
                      </button>
                    <ul class="custom-multiple-2-dropdown-list">
                      {% for option in dropdown %}
                        <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                      {% endfor %}
                    </ul>
                  </div>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "products" %}
                {% comment %} <select name="davi_products" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "products" and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                  {% for product in collections['all'].products %}
                      <option title="{{ product.sku }}">{{ product.title }}</option>
                  {% endfor %}
                </select> {% endcomment %}
      
                {% assign imgs = block.settings.davi_field_image | split: ',' %}
                  <div class="custom-multiple-2-dropdown">
                <select name="davi_products" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "products"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                  {% for product in collections['all'].products %}
                    <option value="{{ product.title | escape }}" data-img="{{ product | img_url: '100x' }}">{{ product.title | escape }}</option>
                  {% endfor %}
                </select>
                    <button type="button" class="custom-multiple-2-dropdown-main">
                      <div class="custom-multiple-2-badge-wrapper">
                      
                      </div>
                      </button>
                    <ul class="custom-multiple-2-dropdown-list">
                      {% for product in collections['all'].products %}
                        <li><img src="{{ product | img_url: '100x' }}" /> <span>{{ product.title | escape }}</span></li>
                      {% endfor %}
                    </ul>
                  </div>
      
      
            {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" %}
              <input type="text" class="davi-theme custom-address" name="davi_input_address" placeholder="address"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}>
              <input type="text" class="davi-theme custom-address" name="davi_input_appartment_no" placeholder="appartment_no"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}>
        <input type="text" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} class="davi-theme custom-address" name="davi_input_zip_code" placeholder="zip_code" >
        <input type="text" class="davi-theme custom-address" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} name="davi_input_state" placeholder="state"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_required == true %}  required {% endif %}>
            {% endif %}
    {% if block.settings.davi_field_show == 'step2' %}
    {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
    </div>
    {% endunless %}
    {% endif %}
      {% endfor %}
    </div>
        <div class="custom-flex-item">
          {% for block in section.blocks %}    
        {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "pdf" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label" for="{{ block.id }}">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
              <input type="file" id="{{ block.id }}" class="davi-theme" name="davi_input_pdf" accept="application/pdf"  {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "pdf" and block.settings.davi_field_required == true %}  required {% endif %}>
            </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "file" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
          <input type="file" class="davi-theme" name="davi_input_file"  {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "file" and block.settings.davi_field_required == true %}  required {% endif %}>
          </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "multiplefile" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
          <input type="file" class="davi-theme" name="davi_input_files[]" multiple   {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "multiplefile" and block.settings.davi_field_required == true %}  required {% endif %}>
          </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% endif %}
      {% endfor %}
        </div>
</div>
    </div>
        
    <div class="tab step3" >
      <h3 class="custom-step-title">{{ section.settings.step3_title }}</h3>
      <div class="custom-flex-wrapper">
        <div class="custom-flex-item">
              {% for block in section.blocks %}    
        {% if block.settings.davi_field_show == 'step3' %}
        {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
        <div class="custom-form-group">
        <label class="custom-form-label">{{ block.settings.davi_field_label }}</label>
        {% endunless %}
        {% endif %}

                {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "phone" %}
            <input type="text" class="davi-theme" name="davi_input_phone" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_required == true %}  required {% endif %}>

            <div class="custom-multiple-dropdown">
              <div class="phone-flex-wrapper">
                <button type="button" class="custom-multiple-dropdown-main custom-phone-button"></button>
                <ul class="custom-multiple-dropdown-list custom-phone-list"></ul>
                <input type="number" class="custom-phone-inp davi-theme" />
              </div>
            </div>

          {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "hidden" %}
            <input type="hidden" class="davi-theme" name="davi_input_text"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_required == true %}  required {% endif %} {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_value != '' %}  value="{{ block.settings.davi_field_value }}" {% endif %}>            
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "text" %}
            <input type="text" class="davi-theme" name="davi_input_text" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_required == true %}  required {% endif %}>
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "email" %}
          <input type="email" class="davi-theme" name="davi_input_email"  {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "email"  and block.settings.davi_field_required == true %}  required {% endif %}>
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "date" %}
          <input type="text" class="davi-theme date" name="davi_input_date" class="date" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "date" and block.settings.davi_field_required == true %}  required {% endif %}>
          {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "dropdown" %}
          {% assign dropdown =  block.settings.davi_field_value | split: "," %}
          <select name="davi_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "dropdown" and block.settings.davi_field_required == true %}  required {% endif %}>
              {% for option in dropdown %}
                <option>{{ option }}</option>
              {% endfor %}
            </select>
            {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "multipledropdown" %}
              {% assign dropdown =  block.settings.davi_field_value | split: "," %}
              <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "multipledropdown"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                {% for option in dropdown %}
                  <option>{{ option }}</option>
                {% endfor %}
              </select>
          {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "dropdown_file" %}
          {% assign dropdown =  block.settings.davi_field_value | split: "," %}
              {% assign imgs = block.settings.davi_field_image | split: ',' %}
              <div class="custom-multiple-dropdown">
                  <select name="davi_dropdown" class="custom-single-select davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "dropdown_file" and block.settings.davi_field_required == true %}  required {% endif %}>
              {% for option in dropdown %}
                <option>{{ option }}</option>
              {% endfor %}
            </select>
                <button type="button" class="custom-multiple-dropdown-main"><img src="{{ imgs[0] }}" /> <span>{{ dropdown[0] }}</span></button>
                <ul class="custom-multiple-dropdown-list">
                  {% for option in dropdown %}
                    <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                  {% endfor %}
                </ul>
              </div>
          {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "multipledropdown_file" %}
  
             {% assign imgs = block.settings.davi_field_image | split: ',' %}
              <div class="custom-multiple-2-dropdown">
             <select name="davi_multiple_dropdown" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "multipledropdown_file"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
              {% for option in dropdown %}
                <option value="{{ option }}" data-img="{{ imgs[forloop.index0] }}">{{ option }}</option>
              {% endfor %}
            </select>
                <button type="button" class="custom-multiple-2-dropdown-main">
                  <div class="custom-multiple-2-badge-wrapper">
          
                  </div>
                  </button>
                <ul class="custom-multiple-2-dropdown-list">
                  {% for option in dropdown %}
                    <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                  {% endfor %}
                </ul>
              </div>
          {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "products" %}
            {% comment %} <select name="davi_products" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "products" and block.settings.davi_field_required == true %}  required {% endif %} multiple>
              {% for product in collections['all'].products %}
                  <option title="{{ product.sku }}">{{ product.title }}</option>
              {% endfor %}
            </select> {% endcomment %}
  
             {% assign imgs = block.settings.davi_field_image | split: ',' %}
              <div class="custom-multiple-2-dropdown">
             <select name="davi_products" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "products"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
              {% for product in collections['all'].products %}
                <option value="{{ product.title | escape }}" data-img="{{ product | img_url: '100x' }}">{{ product.title | escape }}</option>
              {% endfor %}
            </select>
                <button type="button" class="custom-multiple-2-dropdown-main">
                  <div class="custom-multiple-2-badge-wrapper">
                  
                  </div>
                  </button>
                <ul class="custom-multiple-2-dropdown-list">
                  {% for product in collections['all'].products %}
                    <li><img src="{{ product | img_url: '100x' }}" /> <span>{{ product.title | escape }}</span></li>
                  {% endfor %}
                </ul>
              </div>
  

  
        {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" %}
          <input type="text" class="davi-theme custom-address" name="davi_input_address" placeholder="address"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}><br>
          <input type="text" class="davi-theme custom-address" name="davi_input_appartment_no" placeholder="appartment_no"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}> <input type="text" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} class="davi-theme custom-address" name="davi_input_zip_code" placeholder="zip_code" > <input type="text" class="davi-theme custom-address" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} name="davi_input_state" placeholder="state"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_required == true %}  required {% endif %}>
        {% endif %}
          {% if block.settings.davi_field_show == 'step3' %}
          {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
          </div>
          {% endunless %}
          {% endif %}
                {% endfor %}
    </div>    
        <div class="custom-flex-item">
          {% for block in section.blocks %}    
        {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "pdf" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label" for="{{ block.id }}">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
              <input type="file" id="{{ block.id }}" class="davi-theme" name="davi_input_pdf" accept="application/pdf"  {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "pdf" and block.settings.davi_field_required == true %}  required {% endif %}>
            </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "file" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
          <input type="file" class="davi-theme" name="davi_input_file"  {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "file" and block.settings.davi_field_required == true %}  required {% endif %}>
          </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "multiplefile" %}
          <div class="custom-form-group">
          <label class="custom-form-label custom-form-file-label">
            <h3>{{ block.settings.davi_field_label }}</h3>
            <div class="custom-form-file">
              <img src="{{ 'fileDown.svg' | asset_url }}" />
              <p><strong>Browse File</strong> or drag and drop PDF, JPG, oder PNG (max. 5MB)</p>
          <input type="file" class="davi-theme" name="davi_input_files[]" multiple   {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "multiplefile" and block.settings.davi_field_required == true %}  required {% endif %}>
          </div>
            <div class="custom-form-file-output"></div>
            </label>
          </div>
          {% endif %}
      {% endfor %}
        </div>
      </div>
    </div>
    <input type="hidden" id="shop" value="{{ shop.domain }}" />

  {% if section.settings.section_title %}
    <input type="hidden" name="davi_form_type" value="{{ section.settings.section_title }}" />
  {% else %}
    <input type="hidden" name="davi_form_type" value="Multistep Form" />
  {% endif %}
  <div style="overflow:auto; margin-top:20px;">
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
      <button type="button" class="davi-theme" id="prevBtn" onclick="nextPrev(-1)"><svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.2031 19.5L20.0538 13L12.2031 6.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg> Previous</button>
      <button type="button" class="davi-theme" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  </form>
  </div>
  </div>
    <p>To view your quote, Please {{ 'Login' | customer_login_link }}.</p>
{% schema %}
  {
  "name": "Davi Multistep Form",
	"class": "container mx-auto",
	"tag": "section",
	"settings": [{
		"id": "section_title",
    "type": "text",
    "label": "Section Header",
		"default": "Multistep Form"
	},
  {
      "id": "step1_title",
      "type": "text",
      "label": "Step 1 Title",
      "default": "Step 1 Title"
  },
  {
      "id": "step1_name",
      "type": "text",
      "label": "Step 1 Name",
      "default": "Step 1 Name"
  },
  {
      "id": "step2_title",
      "type": "text",
      "label": "Step 2 Title",
      "default": "Step 2 Title"
  },
  {
      "id": "step2_name",
      "type": "text",
      "label": "Step 2 Name",
      "default": "Step 2 Name"
  },
  {
      "id": "step3_title",
      "type": "text",
      "label": "Step 3 Title",
      "default": "Step 3 Title"
  },
  {
      "id": "step3_name",
      "type": "text",
      "label": "Step 3 Name",
      "default": "Step 3 Name"
  }
],
  "blocks": [
    {
      "type": "davi_field",
      "name": "Davi Field",
      "settings": [
        {
          "id": "davi_field_label",
          "type": "text",
          "label": "Field Label"
        },
        {
          "type": "select",
          "id": "davi_field_show",
          "label": "Field Show on",
          "options": [
            {
              "value": "step1",
              "label": "Step 1"
            },
            {
              "value": "step2",
              "label": "Step 2"
            },
            {
              "value": "step3",
              "label": "Step 3"
            }
          ],
          "default": "step1"
        },        
        {
          "type": "select",
          "id": "davi_field_type",
          "label": "Field Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "email",
              "label": "Email"
            },
            {
              "value": "date",
              "label": "Datepicker"
            },
            {
              "value": "products",
              "label": "Products"
            },
            {
              "value": "pdf",
              "label": "PDF"
            },
            {
              "value": "file",
              "label": "File"
            },
            {
              "value": "multiplefile",
              "label": "Multiple Files"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "multipledropdown",
              "label": "Multiple Dropdown"
            },
            {
              "value": "dropdown_file",
              "label": "Dropdown - Image"
            },
            {
              "value": "multipledropdown_file",
              "label": "Multiple Dropdown - Image"
            },
            {
              "value": "address",
              "label": "Address"
            },
            {
              "value": "hidden",
              "label": "Hidden"
            },
            {
              "value": "terms_and_condition",
              "label": "Terms & condition"
            },
            {
              "value": "images",
              "label": "Images"
            },
            {
              "value": "phone",
              "label": "Phone"
            }
          ],
          "default": "text"
        },
        {
          "id": "davi_field_value",
          "type": "text",
          "label": "Field Value (for comma seprated)"
        },
        {
          "id": "davi_field_image",
          "type": "text",
          "label": "Dropdown Option Images (for comma seprated)"
        },
        {
          "id": "davi_field_max_file_upload",
          "type": "text",
          "label": "Max MB(s) Allowed"
        },
        {
          "id": "davi_field_file_extensions",
          "type": "text",
          "label": "File Extension (for comma seprated)"
        },
        {
          "id": "davi_field_required",
          "type": "checkbox",
          "label": "If Requred",
          "default": false
        }
        
      ]
    }
    ],
	"presets": [
      {
        "name": "Davi Multi Step Form",
        "category": "Forms"
      }
    ]
    
  }
{% endschema %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"  />
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js" defer></script>
<!-- Javascript -->
<script>

  setTimeout(function(){
     jQuery(function() {
      
        jQuery('.loader').hide();
        jQuery( "#form" ).show();
        jQuery( ".date" ).datepicker();
        jQuery( ".select2" ).select2();
     });
     $('input').keyup(function() {
      if($(this).hasClass('invalid')){
        $(this).removeClass('invalid');
      }
     });
    }, 2000);
  
</script>
</div>